@charset "utf-8";

* {
	padding: 0px;
	margin: 0px;
}
ul {
	list-style: none;
}
.bold {
	font-weight: bold;
}
.italic {
	font-style: italic;
}
.upper {
	text-transform: uppercase;
}
a:focus {
	outline: none;
	border: none;
}
/* Wordpress Classes
================================================== */
.alignnone {
	margin: 5px 20px 20px 0;
}
.aligncenter, div.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}
.alignright {
	float: right;
	max-width: 100%;
	margin: 0px 0 20px 20px;
}
.alignleft {
	float: left;
	max-width: 100%;
	margin: 0px 20px 20px 0;
}
.aligncenter {
	display: block;
	max-width: 100%;
	text-align: center;
	margin: 0px auto 5px auto;
}
a img.alignright {
	float: right;
	margin: 0px 0 20px 20px;
}
a img.alignnone {
	margin: 0px 20px 20px 0;
}
a img.alignleft {
	float: left;
	margin: 0px 20px 20px 0;
}
a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}
.wp-caption {
	max-width: 96%;
	padding: 5px 3px 10px;
	text-align: center;
}
.wp-caption.alignnone {
	margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
	margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
	margin: 5px 0 20px 20px;
}
.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 98.5%;
	padding: 0;
	width: auto;
}
.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	padding: 0 4px 5px;
}
iframe {
	border: none;
}
/* Wrapper
================================================== */
.wrapper {
	width:100%;
}
.custom-container {
	width:86%;
	margin:0 7%;
}
/* Header
================================================== */
header {
	width:100%;
	position: relative;
	z-index: 2;
}
/* Header Top Strip
================================================== */
.topstrip {
	width:100%;
	height:45px;
	border-bottom:#e3e3e3 solid 1px;
}
header.style2 .topstrip {
	background: #191b1f;
	border-bottom:#2b2e36 solid 1px;
}
/* Header Videos Strip
================================================== */
.headervideos {
	width:100%;
	padding: 20px 0 0 0;
	border-bottom:#e3e3e3 solid 1px;
}
header.style2 .headervideos {
	background: #191b1f;
	border-bottom:#2b2e36 solid 1px;
}
/* Categories Navigation
================================================== */
.topcategories .navbar-nav {
	float:left;
	padding-top: 12px;
}
/* Social Networking
================================================== */
.topstrip .socialnetworks {
	padding: 12px 0 0 0;
}
.socialnetworks ul li{
	float:left;
	padding-left:5px;
}
.socialnetworks ul li:first-child{
	padding-left:0px;
}
.socialnetworks a{
	display:inline-block;
	width:20px;
	height:20px;
	font-size: 18px;
}
.socialnetworks a i{
	float: left;
}
.socialnetworks a.facebook{
	color: #5875b1;
	font-size: 16px;
}
.socialnetworks a.youtube{
	color: #e24536;
	font-size: 16px;
}
.socialnetworks a.twitter{
	color: #51c7f7;
}
.socialnetworks a.vimeo{
	color: #2285fd;
}
.socialnetworks a.pinterest{
	color: #e64249;
}
/* Logo Strip
================================================== */
.logobar {
	width:100%;
	padding:20px 0;
	background:#f5f5f5;
	-webkit-box-shadow: inset 0px -10px 18px -6px #D0D0D0;
	   -moz-box-shadow: inset 0px -10px 18px -6px #D0D0D0;
	        box-shadow: inset 0px -10px 18px -6px #D0D0D0;
}
header.style2 .logobar {
	background:#191b1f;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}
/* Logo
================================================== */
.logo {
	float:left;
}
.logo a{
	float:left;
}
.logo a img{
	float:left;
}
@media (max-width: 700px) {
	.logo {
		width: 100%;
		float:left;
	}
	.logo a{
		float:left;
		width: 100%;
		text-align: center;
	}
	.logo a img{
		float:none;
	}
}
/* Search
================================================== */
form.searchbox {
	float:left;
	/* width:100%; */
	width:300px;
	/* padding:25px 20px 0 20px; */
}
.searchbox ul{
	float:left;
	width:100%;
	border:#DADADA solid 2px;
	height:34px;
	background:#ffffff;
	border-radius:20px;
	position:relative;
	padding-left:38px;
}
header.style2 .searchbox ul{
	border:#4C4F57 solid 2px;
	background: transparent;
}
.searchbox ul:before{
	content:"\f002";
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	position: absolute;
	left: 15px;
	top: 8px;
	color: #6d6f75;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.searchbox ul li{
	float:left;
}
.searchbox ul li:first-child{
	position:absolute;
	width:100%;
	left:0;
	z-index:1;
}
.searchbox input[type="text"]{
	float:left;
	border:none;
	height:30px;
	background:transparent;
	border:none;
	width:100%;
	padding:0 53px 0 38px;
}
.searchbox input[type="submit"]{
	float:left;
	border:none;
	width:41px;
	height:22px;
	border-left:#eaeaea solid 2px;
	background:none;
	margin-top:4px;
	font-size:13px;
	font-weight:bold;
	color:#6d6f75;
	position:absolute;
	right:0;
	z-index:2;
}
header.style2 .searchbox input[type="submit"]{
	border-left:#4C4F57 solid 2px;
}
header.style2 .searchbox input[type="text"]::-webkit-input-placeholder {
   color: #CED1D9;
}
header.style2 .searchbox input[type="text"]:-moz-placeholder {
   color: #CED1D9;  
}
header.style2 .searchbox input[type="text"]::-moz-placeholder {
	color: #CED1D9;  
}
header.style2 .searchbox input[type="text"]:-ms-input-placeholder {  
   color: #CED1D9;  
}
/* Navigation Strip
================================================== */
.navigationstrip {
	width:100%;
	min-height:50px;
	border-top:solid 5px;
	background: #fff;
	border-bottom: #e3e3e3 solid 1px !important;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.stick {
    position:fixed;
    top:0px;
    opacity: .95;
    background: #191b1f;
    border-bottom: #000 solid 1px !important;
}
.stick li.open a.dropdown-toggle{
	color: #000 !important;
	background-color: #fff !important;
}
.stick .loginsec a {
	color: #fff !important;
}
@media (max-width: 1023px) {
	.stick {
	    position:relative;
	    top:inherit;;
	    opacity: 100;
	    background: inherit;
	    border-bottom: #e3e3e3 solid 1px !important;
	}
}
/* Navigation
================================================== */
@media (min-width: 1024px) {
	.yamm .nav,
	.yamm .collapse,
	.yamm .dropup,
	.yamm .dropdown {
		position: static;
	}
}
.yamm .container {
	position: relative;
}
.yamm .dropdown-menu {
	left: auto;
}
.yamm .nav.navbar-right .dropdown-menu {
	left: auto;
	right: 0;
}
.yamm .yamm-content {
	padding: 20px;
}
.yamm .yamm-content .row > div {
	overflow: hidden;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
	left: 0;
	right: 0;
}
/* menu styes */
.list-unstyled,
.list-unstyled ul {
	min-width: 180px;
}
@media ( min-width: 767px ) {
	.panel-group {
	  	width: 100%;
	}
	.thumbnail {
	 	margin: 0;
	}
}
.todaysvideo h5{
	margin-bottom: 5px;
}
.todaysvideo .heading{
	margin-top: 0;
}
.dropdown-menu .videobox{
	margin-bottom: 0;
	margin-top: 20px;
}
.dropdown-menu .heading{
	margin-bottom: 0;
}
.dropdown-menu .blogposttwo{
	margin-top: 20px;
}
.dropdownmap iframe{
	width: 100%;
	height: 280px;
	border: none;
	padding: 0;
}
.dropdownmap hr{
	margin-top: 10px !important;
}
.dropdown i.fa {
	margin-right: 10px;
}
/* Login Section
================================================== */
.loginsec {
	margin-top:15px;
	width: -moz-max-content;
	width: -webkit-max-content;
	width: -o-max-content;
}
.loginsec a {
	float:left;
	display:block;
	position:relative;
	margin-right:20px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.loginsec a:last-child {
	margin-left:0px;
}
.loginsec a i{
	margin-right:10px;
}
/* Contents Section
================================================== */
.contents {
	width:100%;
	padding:30px 0;
	position: relative;
	z-index: 1;
}
.equalcol{
	position:relative;
}
.contents .blacksidebar:before {
	content: "";
	background:#191b1f;
	height:100%;
	left:0;
	top:0;
	bottom:0;
	right:0;
	display:block;
	position:absolute;
	margin:0 10px;
	z-index: -1;
}
.contents .graysidebar:before {
	content: "";
	background:#f4f4f4;
	height:100%;
	left:0;
	top:0;
	bottom:0;
	right:0;
	display:block;
	position:absolute;
	margin:0 10px;
	z-index: -1;
}
.conentsection [class*="col-"] {
    margin-bottom:20px;
}
.conentsection .sections:first-child {
    padding-top: 0;
}
.conentsection .sections:first-child .heading {
    margin-top: 0;
}
/* Video Box
================================================== */
.videobox {
	width:100%;
	float: left;
	background:#000;
	margin-bottom:20px;
	position: relative;
}
.videobox figure{
	width:100%;
	float: left;
	position:relative;
}
.videobox a.playicon{
	width:128px;
	height: 128px;
	display: block;
	margin-top:-64px;
	margin-left: -64px;
	left: 50%;
	top: 50%;
	position: absolute;
}
.videobox a.playicon i{
	color: #fff;
	font-size: 147px;
	margin-top: -8px;
	opacity: .5;
}
.videobox figcaption{
	width:100%;
	padding:20px 20px 10px 20px;
	left:0;
	bottom:0;
	color:#FFF;
	position:absolute;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY0Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42NSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDElIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNjUiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.64) 99%, rgba(0,0,0,0.65) 100%, rgba(0,0,0,0.65) 101%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(99%,rgba(0,0,0,0.64)), color-stop(100%,rgba(0,0,0,0.65)), color-stop(101%,rgba(0,0,0,0.65)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.64) 99%,rgba(0,0,0,0.65) 100%,rgba(0,0,0,0.65) 101%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.64) 99%,rgba(0,0,0,0.65) 100%,rgba(0,0,0,0.65) 101%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.64) 99%,rgba(0,0,0,0.65) 100%,rgba(0,0,0,0.65) 101%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.64) 99%,rgba(0,0,0,0.65) 100%,rgba(0,0,0,0.65) 101%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}
.col-lg-2 .videobox figcaption h2 {
	font-size: 120%;
}
.videobox figcaption h2 a{
	color:#FFF;
}
.videobox figcaption ul{
	width:100%;
	float:left;
	margin: 0;
	height: 0px;
	overflow: hidden;
	-webkit-transition: height .4s ease-in-out;
	-moz-transition: height .4s ease-in-out;
	-ms-transition: height .4s ease-in-out;
	-o-transition: height .4s ease-in-out;
	transition: height .4s ease-in-out;
}
.videobox:hover figcaption ul{
	height: 26px;
}
.col-lg-2 .videobox figcaption ul{
	display:none;
}
.videobox figcaption ul li{
	float:left;
	position:relative;
	font-size:14px;
	margin-left:20px;
}
.videobox figcaption ul li:first-child{
	margin-left:0px;
}
.videobox figcaption ul li i{
	margin-right: 10px;
}
/* Video Box 2
================================================== */
.videobox2 {
	width:100%;
	position: relative;
	float: left;
}
.videobox2 figure{
	width:100%;
	float: left;
	background: #000;
	position:relative;
}
.videobox2 figure > a{
	float: left;
	width: 100%;
}
.videobox2 .vidopts{
	width:100%;
	padding:20px 20px 15px 20px;
	left:0;
	bottom:0;
	color:#FFF;
	position:absolute;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY0Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42NSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDElIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNjUiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.64) 99%, rgba(0,0,0,0.65) 100%, rgba(0,0,0,0.65) 101%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(99%,rgba(0,0,0,0.64)), color-stop(100%,rgba(0,0,0,0.65)), color-stop(101%,rgba(0,0,0,0.65)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.64) 99%,rgba(0,0,0,0.65) 100%,rgba(0,0,0,0.65) 101%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.64) 99%,rgba(0,0,0,0.65) 100%,rgba(0,0,0,0.65) 101%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.64) 99%,rgba(0,0,0,0.65) 100%,rgba(0,0,0,0.65) 101%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.64) 99%,rgba(0,0,0,0.65) 100%,rgba(0,0,0,0.65) 101%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}
.videobox2 h4{
	padding-top: 10px;
	width: 100%;
	float: left;
}
.videobox2 .vidopts ul{
	width:100%;
	float:left;
	display: block;
	margin-bottom: 0;
}
.videobox2 .vidopts ul li{
	float:left;
	position:relative;
	font-size:14px;
	margin-right:20px;
}
.videobox2 .vidopts ul li:last-child{
	margin-left:0px;
}
.videobox2 .vidopts ul li i{
	margin-right: 10px;
}
/* Video Slider tabs
================================================== */
.videoslider {
	width:100%;
	float:left;
	position:relative;
}
.videoslider .tabbed_content {
	width: 100%;	
}
.videoslider .tabs {
	position: relative;
	height: 70px;
	border-bottom: 1px solid #fff;
}
.videoslider .tabs .moving_bg {
	background-color:#191b1f;
	position: absolute;
	width: 25%;
	z-index: 190;
	left: 0;
	height: 70px;
}
.videoslider .tabs .moving_bg .pointer{
	position: absolute;
	width: 22px;
	left: 50%;
	margin-left: -11px;
	height: 11px;
	bottom: -11px;
	background: url(../images/pointer.png) 0px 0px no-repeat;
}
.videoslider .tabs .tab_item {
	display: block;
	float: left;
	width: 25%;
	color: #ffffff;
	z-index: 200;
	height: 70px;
	position: relative;
	cursor: pointer;
	padding: 16px;
	border-left: 1px solid #fff;
}
.videoslider .tabs .moving_bg+.tab_item {
	border-left: none;
}
.videoslider .tabs .tab_item h5{
	color: #fff;
	margin: 0;
	text-transform: uppercase;
}
.videoslider .tabs .tab_item span{
	font-size: 10px;
	text-transform: uppercase;
}
.videoslider .tabbed_content .slide_content {
	overflow: hidden;
	position: relative;
	width: 100%;
}
.videoslider .tabslider {
	width: 5000px;
}
.videoslider .tabslider .video {
	float: left;
	width: 100%;
	margin: 0px;
	padding: 0px;
}
.videoslider .videobox {
	margin: 0px;
}
.videoslider .videobox figcaption ul {
	display: block;
}
@media (max-width: 479px){
	.videoslider .tabs {
		height: 50px;
	}
	.videoslider .tabs .moving_bg {
		height: 50px;
	}
	.videoslider .tabs .tab_item {
		height: 50px;
		padding: 10px 7px;
	}
	.videoslider .tabs .tab_item h5{
		font-size: 97%;
		text-align: center;
	}
}
/* Video Categories list
================================================== */
.sections {
	float: left;
	width: 100%;
	padding-top: 20px;
	border-bottom: #d8d8d8 solid 1px;
}
.sections h2.heading{
	float: left;
	width: 100%;
	padding-bottom: 10px;
}
/* Video List
================================================== */
.videoslists {
	margin-left: -20px;
}
.videoslists li{
	width: 33.33%;
	float: left;
	padding-left: 20px;
}
/* Media Carousal
================================================== */
.media-carousal {
	position: relative;
	width: 100%;
	margin-bottom: 20px;
}
.media-carousal .crsl-nav{
	position: absolute;
	top: -41px;
	right: 0;
}
.media-carousal .crsl-nav a{
	display: block;
	width: 24px;
	height: 24px;
	float: left;
	margin-left: 5px;
}
.media-carousal .crsl-nav i{
	font-size: 27px;
	opacity: .6;
}
/* Blog Post
================================================== */
.blogpost {
	border: 1px solid #d8d8d8;
	width: 100%;
	padding: 20px;
}
.blogpost figure{
	width: 100%;
	float: left;
	position: relative;
	margin-bottom: 10px;
}
.blogpost figcaption{
	width: 100%;
	position: absolute;
	color: #fff;
	left: 0;
	bottom: 0;
	padding: 10px 10px 0px 13px;
	background-color: rgba(0, 0, 0, .6);
}
.blogpost figcaption a{
	color: #fff;
}
.blogpost figcaption ul{
	float: left;
	width: 100%;
}
.blogpost figcaption ul li{
	margin-left: 20px;
	position: relative;
	float: left;
}
.blogpost figcaption ul li i{
	margin-right: 10px;
}
.blogpost figcaption ul li:first-child{
	margin-left: 0;
}
.blogpost figcaption ul li.categories a:after{
	content: ", ";
}
.blogpost figcaption ul li.categories a:last-child:after{
	content: "";
}
.blogpost .text{
	width: 100%;
	float: left;
}
/* Blog Post List
================================================== */
.bloglist {
	width: 100%;
	float: left;
}
.bloglist > li{
	float: left;
	margin-top: 20px;
	border: 1px solid #d8d8d8;
	width: 100%;
	padding: 20px;
}
.bloglist > li:first-child{
	margin-top: 0px;
}
.bloglist .media-body ul{
	float: left;
	width: 100%;
}
.bloglist .media-body ul li{
	margin-left: 20px;
	position: relative;
	float: left;
}
.bloglist .media-body ul li i{
	margin: 3px 10px 0 0;
	float: left;
}
.bloglist .media-body ul li i.fa-align-justify{
	margin: 4px 10px 0 0;
}
.bloglist .media-body ul li:first-child{
	margin-left: 0;
}
.bloglist .media-body h4{
	margin-top: 4px;
}
.bloglist .media-body h5{
	margin-top: 4px;
}
.bloglist .media > .pull-left{
	margin-right: 20px;
	overflow: hidden;
}
/* Blog Post Style 2
================================================== */
.blogposttwo {
	width: 100%;
	float: left;
}
.blogposttwo figure{
	width: 100%;
	float: left;
}
.blogposttwo figure a{
	float: left;
	width: 100%;
}
.blogposttwo .text{
	width: 100%;
	float: left;
	padding-top: 10px;
}
.blogposttwo ul{
	float: left;
	width: 100%;
}
.blogposttwo ul li{
	margin-right: 20px;
	position: relative;
	float: left;
}
.blogposttwo ul li a{
	color: #5B5A5A;
}
.blogposttwo ul li i{
	margin-right: 10px;
}
.blogposttwo ul li:last-child{
	margin-right: 0;
}
.blogposttwo ul li.categories a:after{
	content: ", ";
}
.blogposttwo ul li.categories a:last-child:after{
	content: "";
}
/* Gallery
================================================== */
.gallery {
	position: relative;
	overflow: hidden;
}
figure {
	overflow: hidden;
}
figure > a {
	overflow: hidden;
}
.hovereffect {
	display: inline-block;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
figure:hover .hovereffect,
figure:focus .hovereffect,
figure:active .hovereffect,
.hovereffect:hover,
.media:hover .img-hovereffect {
	-webkit-transform: scale(1.1) rotate(3deg);
	transform: scale(1.1) rotate(3deg);
}
.gallery figcaption{
	position: absolute;
	bottom: -100%;
	left: 0px;
	width: 100%;
	padding:15px 20px;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
.gallery:hover figcaption{
	bottom: 0;
}
.gallery figcaption h4 {
	margin: 0;
}
.gallery figcaption a{
	color: #fff;
}
/* Widgets
================================================== */
.widget {
	width: 100%;
	position: relative;
	border-top: solid 1px #2b2e36;
}
footer .widget {
	border-top: none;
}
.widget:before{
	content: "";
	width: 100%;
	position: absolute;
	height: 1px;
	top: 0px;
	left: 0;
	background: #0b0c10;
}
.widget .heading{
	width: 100%;
	padding: 20px;
	margin: 0;
	text-transform: uppercase;
}
footer .widget h4.heading{
	padding-bottom: 10px;
}
.widget > img {
	width: 100%;
}
footer .widget .heading{
	padding: 0 0 20px 0;
}
.graysidebar .widget {
	width: 100%;
	position: relative;
	border-top: none;
}
.graysidebar .widget:before{
	display: none;
}
.graysidebar .widget .heading{
	width: 100%;
	padding: 15px 20px;
	margin: 0;
	color: #fff;
	background: #191b1f;
}
/* Black Sidebar
================================================== */
.blacksidebar {
	color: #bdc3c7;
}
.blacksidebar h1, 
.blacksidebar h2, 
.blacksidebar h3, 
.blacksidebar h4, 
.blacksidebar h5, 
.blacksidebar h6,
footer.style1 .widget h1, 
footer.style1 .widget h2, 
footer.style1 .widget h3, 
footer.style1 .widget h4, 
footer.style1 .widget h5, 
footer.style1 .widget h6
{
	color: #fff;
}
.blacksidebar a,
footer.style1 .widget a{
	color: #bdc3c7;
}
.blacksidebar h1 a,
.blacksidebar h2 a,
.blacksidebar h3 a,
.blacksidebar h4 a,
.blacksidebar h5 a,
.blacksidebar h6 a,
footer.style1 .widget h1 a,
footer.style1 .widget h2 a,
footer.style1 .widget h3 a,
footer.style1 .widget h4 a,
footer.style1 .widget h5 a,
footer.style1 .widget h6 a
{
	color: #fff;
}
/* Search Widget
================================================== */
.widget .search {
	width: 100%;
	padding: 0px 20px 20px 20px;
}
footer .widget .search {
	padding: 0px 0px 20px 0px;
}
.graysidebar .widget .search {
	padding-top: 20px;
}
.widget .search form{
	width: 100%;
	height: 34px;
	position: relative;
	padding: 2px 40px 0 0;
	background: #1d1e20;
	border: #4b4c4e solid 1px;
}
.graysidebar .widget .search form{
	background: #e7e5e5;
	border: #cdcdcd solid 1px;
}
.widget .search input[type="text"]{
	width: 100%;
	height: 28px;
	line-height: 28px;
	padding: 0px 5px 0 10px;
	background: transparent;
	border: none;
}
.widget .search form button{
	height: 26px;
	width: 30px;
	border-radius: 0;
	position: absolute;
	right: 3px;
	top: 3px;
}
/* Links Widgets
================================================== */
.widget .links ul li {
	padding: 3px 0;
}
/* Blog Post Widget
================================================== */
.widget .bloglist {
	width: 100%;
}
.graysidebar .widget .bloglist {
	padding-top: 20px;
}
.widget .bloglist > li{
	border: none;
	padding: 20px 20px 5px 20px;
	position: relative;
	border-top: solid 1px #2b2e36;
}
footer .widget .bloglist > li{
	padding: 20px 0px 5px 0px;
}
.widget .bloglist > li:before{
	content: "";
	width: 100%;
	position: absolute;
	height: 1px;
	top: 0px;
	left: 0;
	background: #0b0c10;
}
.graysidebar .widget .bloglist > li{
	border-top: solid 1px #fff;
}
.graysidebar .widget .bloglist > li:before{
	background: #dbdbdb;
}
.widget .bloglist > li:first-child{
	border: none;
}
.widget .bloglist > li:first-child:before{
	display: none;
}
.widget .bloglist > li:first-child{
	padding-top: 0px;
}
.widget .bloglist > li h5{
	margin: 0 0 10px 0;
}
.widget .bloglist .text{
	padding-top: 10px;
}
.widget .bloglist .text ul{
	float: left;
	width: 100%;
}
.widget .bloglist .text ul li{
	margin-left: 20px;
	position: relative;
	float: left;
}
.widget .bloglist .text ul li i{
	margin-right: 10px;
}
.widget .bloglist .text ul li:first-child{
	margin-left: 0;
}
.widget .bloglist .text ul li.categories a:after{
	content: ", ";
}
.widget .bloglist .text ul li.categories a:last-child:after{
	content: "";
}
.widget .bloglist .media{
	margin: 0;
}
/* Widget Carousel Pagination
================================================== */
.carouselpagination {
	width: 100%;
	float: left;
	height: 50px;
	margin-top: 15px;
	position: relative;
	background: #0b0c10;
	border-top: solid 1px #2b2e36;
}
.carouselpagination:before{
	content: "";
	width: 100%;
	position: absolute;
	height: 1px;
	top: 0px;
	left: 0;
	background: #0b0c10;
}
.carouselpagination .carousel-indicators {
	bottom: 5px !important;
}
.graysidebar .carouselpagination {
	background: #E7E5E5;
	border-top: solid 1px #fff;
}
.graysidebar .carouselpagination:before{
	background: #dbdbdb;
}
.graysidebar .carousel-indicators li {
	border-color: #5B5A5A !important;
}
.graysidebar .carousel-indicators .active {
	background: #5B5A5A !important;
}
/* Widget Hot Videos
================================================== */
.item .videobox2 {
	padding: 20px 20px 0px 20px;
}
footer .item .videobox2 {
	padding: 20px 0px 0px 0px;
}
.item .videobox2:first-child {
	padding-top: 0;
}
.graysidebar .item .videobox2:first-child {
	padding-top: 20px;
}
/* Widget Recent Posts
================================================== */
.recentposts {
	width: 100%;
}
.graysidebar .recentposts {
	padding-top: 20px;
}
.recentposts li{
	width: 100%;
	padding: 5px 20px;
}
footer .recentposts li{
	padding: 5px 0px;
}
.recentposts li h5{
	margin: 0;
}
.recentposts li p.date{
	font-size: 10px;
}
/* Widget Flickr Gallery
================================================== */
.flickrgallery {
	width: 100%;
	float: left;
}
.flickrgallery ul{
	display: block;
	padding: 0px 20px 20px 20px;
	float: left;
	margin: -5px 0 0 -5px;
}
footer .flickrgallery ul{
	padding: 0px 0px 20px 0px;
}
.graysidebar .flickrgallery ul{
	padding-top: 20px;
}
.flickrgallery ul li{
	padding: 5px 0 0 5px;
	float: left;
	width: 25%;
}
.flickrgallery ul li a{
	padding: 3px;
	float: left;
	overflow: hidden;
	border: #5a5a5a solid 1px;
}
.graysidebar .flickrgallery ul li a{
	border: #cdcdcd solid 1px;
}
footer.style2 .flickrgallery ul li a,
footer.style3 .flickrgallery ul li a
{
	border: #abadb3 solid 1px;
}
/* Widget Tags
================================================== */
.tagswidget {
	width: 100%;
	float: left;
	padding: 0px 20px 20px 20px;
}
footer .tagswidget {
	padding: 0px 0px 20px 0px;
}
.graysidebar .tagswidget {
	padding-top: 20px;
}
.tagswidget a{
	float: left;
	margin: 0 5px 5px 0;
}
/* Widget Categories List
================================================== */
.categorieslist {
	width: 100%;
	float: left;
}
.categorieslist ul li{
	width: 100%;
	position: relative;
	border-top: solid 1px #2b2e36;
}
.categorieslist ul li:before{
	content: "";
	width: 100%;
	position: absolute;
	height: 1px;
	top: 0px;
	left: 0;
	background: #0b0c10;
}
.graysidebar .categorieslist ul li{
	border-top: solid 1px #fff;
}
.graysidebar .categorieslist ul li:before{
	background: #E5E5E5;
}
.categorieslist ul li a{
	font-weight: bold;
	font-size: 14px;
	padding: 12px 20px;
	display: block;
	color: #777777
}
.graysidebar .categorieslist ul li a{
	color: #777777
}
footer .categorieslist ul li a{
	padding: 12px 0px;
}
.categorieslist ul li a:hover, .categorieslist ul li.active a{
	color: #fff;
}
footer .categorieslist ul li a:hover, footer .categorieslist ul li.active a{
	padding: 12px 20px;
}
/* Widget Interactive Tabs
================================================== */
.interactivetabs {
	width: 100%;
}
.interactivetabs .nav-tabs {
	background: #191b1f;
	border-bottom: none;
}
.interactivetabs .nav-tabs > li {
	width: 33.33%;
	text-align: center;
	border-left: rgba(255, 255, 255, 0.2) solid 1px;
}
.interactivetabs .nav-tabs > li:first-child {
	border-left: none;
}
.interactivetabs .nav-tabs > li a{
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	margin-right: 0;
	border:none;
}
.interactivetabs .nav-tabs > li a i{
	margin-right: 5px;
	display: inline;
}
.interactivetabs .nav-tabs > li.active > a,
.interactivetabs .nav-tabs > li.active > a:hover,
.interactivetabs .nav-tabs > li.active > a:focus {
	border: none;
	border-radius: 0;
}
.interactivetabs .nav > li > a:hover,
.interactivetabs .nav > li > a:focus {
 	text-decoration: none;
 	background-color: #fff;
 	border: none;
	border-radius: 0;
	color: #fff !important;
}
.interactivetabs .nav > li.disabled > a {
 	color: #555 !important;
 	border: none;
	border-radius: 0;
}
.interactivetabs .nav > li.disabled > a:hover,
.interactivetabs .nav > li.disabled > a:focus {
 	color: #555 !important;
 	border: none;
	border-radius: 0;
}
#twittertab {
	height: 500px;
	width: 100%;
}
/* Widget Calendar
================================================== */
.ui-datepicker {
	width: 100%;
	height: auto;
}
.ui-datepicker a {
	text-decoration: none;
}
.ui-datepicker table {
	width: 100%;
}
.ui-datepicker-header {
	color: #fff;
	font-weight: bold;
	line-height: 40px;
	font-size: 14px;
}
.ui-datepicker-title {
	text-align: center;
}
.ui-datepicker-prev, .ui-datepicker-next {
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	cursor: pointer;
	line-height: 600%;
	overflow: hidden;
}
.ui-datepicker-prev {
	float: left;
	display:inline-block;
	font-family:FontAwesome;
	font-style:normal;
	font-weight:normal;
	line-height:1;
	margin: 10px 0 0 5px;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}
.ui-datepicker-prev:before {
	content:"\f0a8";
	color: #fff;
	font-size: 18px;
}
.ui-datepicker-next {
	float: right;
	display:inline-block;
	font-family:FontAwesome;
	font-style:normal;
	font-weight:normal;
	line-height:1;
	margin: 10px 5px 0 0;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}
.ui-datepicker-next:before {
	content:"\f0a9";
	color: #fff;
	font-size: 18px;
}
.ui-datepicker th {
	text-transform: uppercase;
	font-size: 12px;
	padding: 10px 0;
	color: #555;
	font-weight: bold;
	text-align: center;
}
.ui-datepicker tbody td {
	font-weight: normal;
	padding: 5px 0;
}
.ui-datepicker tbody td:last-child {
	border-right: 0px;
}
.ui-datepicker td span, .ui-datepicker td a {
	display: inline-block;
	text-align: center;
	width: 30px;
	height: 30px;
	line-height: 30px;
	color: #666666;
}
.ui-datepicker-calendar .ui-state-default {
	border-radius: 50%;
}
.ui-datepicker-calendar .ui-state-hover {
	color: #fff;
}
.ui-datepicker-calendar .ui-state-active {
	color: #fff;
	position: relative;
	margin: -1px;
}
.ui-datepicker-unselectable .ui-state-default {
	color: #CCCCCC;
}
.ui-datepicker-calendar td:first-child .ui-state-active {
	width: 29px;
	margin-left: 0;
}
.ui-datepicker-calendar td:last-child .ui-state-active {
	width: 29px;
	margin-right: 0;
}
.ui-datepicker-calendar tr:last-child .ui-state-active {
	height: 29px;
	margin-bottom: 0;
}
/* Widget Comments
================================================== */
.commentslist {
	width: 100%;
}
.commentslist ul{
	width: 100%;
}
.commentslist ul li{
	width: 100%;
	padding: 20px;
	position: relative;
	border-top: solid 1px #2b2e36;
}
footer .commentslist ul li{
	padding: 20px 0;
}
.commentslist ul li:before{
	content: "";
	width: 100%;
	position: absolute;
	height: 1px;
	top: 0px;
	left: 0;
	background: #0b0c10;
}
.graysidebar .commentslist ul li{
	border-top: solid 1px #fff;
}
.graysidebar .commentslist ul li:before{
	background: #cfcfcf;
}
.commentslist ul li a{
	font-weight: bold;
}
/* Widget Video List Small
================================================== */
.videolistsmall {
	padding-bottom: 10px;
	float: left;
}
/* Widget Text
================================================== */
.text-widget {
	border-top: none;
}
.text-widget .textsec{
	padding: 20px;
}
footer .text-widget .textsec{
	padding: 0px;
}
footer.style1 .text-widget {
	padding: 0 0px 20px 0px;
	color: #bdc3c7;
}
.text-widget {
	border-top: none;
}
.text-widget ul.contactdetail{
	width: 100%;
	float: left;
}
.text-widget ul.contactdetail li{
	width: 100%;
	float: left;
}
.text-widget ul.contactdetail li i{
	width: 15px;
	float: left;
}
.text-widget ul.contactdetail li i.fa-mobile{
	font-size: 23px;
	margin-top: -2px;
}
.text-widget ul.contactdetail li i.fa-envelope{
	margin-top: 2px;
}
.text-widget i{
	float: left;
	margin-right: 10px;
}
/* Widget Contact Form
================================================== */
.contact-forms .btn {
	border-radius: 0;
	width: 100%;
	text-align: left;
	margin-bottom: 10px;
}
.contact-forms .btn span{
	float: left;
}
.contact-forms .btn i{
	float: right;
	font-weight: bold;
	font-size: 18px;
}
footer input[type="text"], 
footer textarea,
.blacksidebar .contact-forms input[type="text"], 
.blacksidebar .contact-forms textarea {
	width: 100%;
	margin-bottom: 20px;
	padding: 8px 10px;
}
footer.style1 input[type="text"], 
footer.style1 textarea,
.blacksidebar .contact-forms input[type="text"], 
.blacksidebar .contact-forms textarea {
	color:#bdc3c7;
	background: #1d1e20;
	border: #4b4c4e solid 1px;
}
footer textarea {
	height: 117px;
}
header .contact-forms input[type="text"], 
header .contact-forms textarea {
	width: 100%;
	margin-bottom: 20px;
	color:#000408;
	padding: 8px 10px;
	background: #fff;
	border: #c4c4c4 solid 1px;
}
header .contact-forms input[type="submit"], 
header .contact-forms button {
	width: auto !important;
}
header .contact-forms input[type="submit"] i, 
header .contact-forms button i{
	margin-left: 10px;
}
footer textarea {
	height: 117px;
}
/* Footer
================================================== */
footer {
	width: 100%;
	clear: both;
	color: #bdc3c7;
	padding: 60px 0 40px 0;
	background: #191b1f;
}
footer hr {
	border-top: rgba(255, 255, 255, 0.2) solid 1px;
}
.footerwidgets {
	padding: 40px 0;
}
footer.style1 .widget {
	color: #bdc3c7;
	border-top: none;
}
footer .widget:before {
	background: none;
}
footer.style1 .widget a{
	color: #bdc3c7;
}
/* Copyrights
================================================== */
.copyrights a{
	font-weight: bold;
	color: #bdc3c7;
}
/* Footer - Style 2
================================================== */
footer.style2 {
	color: #868686;
	background: #fff;
	border-top: #d8d8d8 solid 1px;
}
footer.style2 a{
	color: #868686;
}
footer.style2 hr {
	border-top: #d8d8d8 solid 1px;
}
/* Footer - Style 3
================================================== */
footer.style3 {
	color: #868686;
	background: #efeeee;
	border-top: #d8d8d8 solid 1px;
}
footer.style3 a{
	color: #868686;
}
footer.style3 hr {
	border-top: #d8d8d8 solid 1px;
}
/* Go Top
================================================== */
a.gotop{
	border-radius: 0;
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 9;
}
@media (max-width: 1023px) {
	a.gotop{
		bottom: -9999px;
		right: -9999px;
	}
}
/* SlimBox
================================================== */
#lbOverlay {
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	cursor: pointer;
}
#lbCenter, 
#lbBottomContainer {
	position: absolute;
	z-index: 9999;
	overflow: hidden;
	background-color: #fff;
}
.lbLoading {
	background: #fff url(../images/loading.gif) no-repeat center;
}
#lbImage {
	position: absolute;
	left: 0;
	top: 0;
	border: 10px solid #fff;
	background-repeat: no-repeat;
}
#lbPrevLink, #lbNextLink {
	display: block;
	position: absolute;
	top: 0;
	width: 50%;
	outline: none;
	color: #fff;
	font-size: 40px;
}
#lbPrevLink {
	left: 0;
}
#lbPrevLink i{
	left: 20px;
	top: 50%;
	display: none;
	margin-top: -30px;
	position: absolute; 
}
#lbPrevLink:hover i{
	display: block;
}
#lbNextLink i{
	right: 20px;
	top: 50%;
	display: none;
	margin-top: -30px;
	position: absolute; 
}
#lbNextLink:hover i{
	display: block;
}
#lbNextLink {
	right: 0;
}
#lbBottom {
	font-size: 10px;
	color: #666;
	line-height: 1.4em;
	text-align: left;
	border: 10px solid #fff;
	border-top-style: none;
}
#lbCloseLink {
	display: block;
	float: right;
	margin: 5px 0;
	outline: none;
	font-size: 16px;
	font-weight: bold;
	color: #666;
}
#lbCloseLink i{
	margin-right: 10px;
}
#lbCaption, #lbNumber {
	margin-right: 71px;
	padding: 3px 0 0 2px;
	font-size: 13px;
}
#lbCaption {
	font-weight: bold;
}
/* Font awsome icons list
================================================== */
.fontawsomeicons .heading{
	margin: 30px 0 20px 0 !important;
	background: #eee;
	padding: 15px;
	text-transform: uppercase; 
}
.fontawsomeicons i.fa{
	margin-right: 10px;
}
/* Unorderd List Styles
================================================== */
.unlist {
	padding-left: 13px;
	list-style: disc;
}
.unlist li{
	padding: 5px 0;
}
.unlist ul{
	padding-top: 10px;
	padding-left: 30px;
	list-style: circle;
}
/* Orderd List Styles
================================================== */
.orderdlist {
	padding-left: 13px;
	list-style: decimal;
}
.orderdlist li{
	padding: 5px 0;
}
.orderdlist ol{
	padding-top: 10px;
	padding-left: 30px;
	list-style: decimal;
}
/* Map Section
================================================== */
.mapsec {
	width: 100%;
}
.mapsec iframe{
	width: 100%;
	height: 400px;
}
/* Tabs Section
================================================== */
.tabsect {
	width: 100%;
	margin-bottom: 20px;
}
.tabsect .tab-content{
	width: 100%;
	border: #dddddd solid 1px;
	border-top: none;
}
.tabsect .tab-pane{
	width: 100%;
	padding: 20px;
}
/* Bootstrap Carousel
================================================== */
.bootstrap-carousel h1,
.bootstrap-carousel h2,
.bootstrap-carousel h3,
.bootstrap-carousel h4,
.bootstrap-carousel h5,
.bootstrap-carousel h6 {
	color: #fff;
}
/* Blog Detail
================================================== */
.blogdetail {
	width: 100%;
}
.blogdetail > .bootstrap-carousel {
	width: 100%;
	padding-bottom: 30px;
}
.blogdetail .avatar{
	width: 100%;
	padding: 0 40px;
	text-align: center;
}
.col-lg-6 .blogdetail .avatar{
	padding: 0 20px;
}
.blogdetail .avatar figure{
	width: 100%;
}
.blogdetail .avatar figure a{
	display: inline-block;
	border: #d8d8d8 solid 1px;
}
.blogdetail .blogtext {
	position: relative;
}
.blogdetail .blogtext:before {
	content: "";
	position: absolute;
	height: 100%;
	left: -30px;
	display: block;
	border-left: #eeeeee solid 1px;
}
.blogdetail.videodetail .blogtext:before {
	display: none;
}
.blogdetail .blogtext:after {
	content: "";
	position: absolute;
	height: 10px;
	width: 6px;
	left: -35px;
	top: 51px;
	display: block;
	background: url(../images/pointer1.png) no-repeat 0 0;
}
.blogdetail.videodetail .blogtext:after {
	content: "";
	display: none;
}
.col-lg-6 .blogdetail .blogtext:before {
	left: -20px;
}
.col-lg-6 .blogdetail .blogtext:after {
	left: -25px;
}
.blogdetail .blogtext .blogmetas{
	background: #f5f5f5;
	padding: 10px 15px;
	margin: 0 0 20px 0;
}
.blogdetail .blogtext .blogmetas ul{
	width: 100%;
	float: left;
	margin: 0;
}
.blogdetail .blogtext .blogmetas ul li{
	float: left;
	margin-left: 20px;
}
.blogdetail .blogtext .blogmetas ul li:first-child{
	margin-left: 0px;
}
.blogdetail .blogtext .blogmetas ul li a{
	color: #5B5A5A;
}
.blogdetail .blogtext .blogmetas ul li i{
	margin-right: 10px;
}
/* Comments
================================================== */
#comments {
	float: left;
	width: 100%;
	padding-bottom: 30px;
}
#comments .media {
	float: left;
	width: 100%;
}
#comments .media .media-heading {
	float: left;
	margin-right: 10px;
}
#comments .media time {
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
}
#comments .media p {
	float: left;
	width: 100%;
	margin: 5px 0 10px 0;
}
#comments .media a.btn {
	float: left;
}
#comments .media-object {
	width: 60px;
}
/* Leave Reply
================================================== */
#leavereply {
	float: left;
	width: 100%;
	padding-bottom: 10px;
}
#leavereply .form-group{
	margin: 0;
}
/* Video Player Section
================================================== */
.videoplayersec {
	width: 100%;
	padding: 40px 0;
	background: #efeeee;
}
.videoplayersec .vidcontainer {
	width: 750px;
	margin: 0 auto;
}
.playershadow {
	padding-bottom: 85px;
	background: url(../images/shadow.png) no-repeat center bottom;
}
.playeriframe {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.playeriframe iframe{
	border: #191b1f solid 10px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.videoinfo .uploader figure{
	width: 76px;
	height: 66px;
	float: left;
	margin-right: 15px;
	border: #d8d8d8 solid 1px;
}
.videoinfo .uploader figure a{
	width: 100%;
}
.videoinfo .uploader figure a img{
	width: 100%;
}
.videoinfo .uploader .aboutuploader{
	float: left;
}
.videoinfo .uploader .aboutuploader h5{
	margin: 0;
}
.videoinfo .uploader .aboutuploader time{
	font-weight: bold;
	text-transform: uppercase;
	font-size: 10px;
	padding: 5px 0 7px 0;
	float: left;
}
.videoinfo .uploader .aboutuploader div{
	display: inline-block;
}
.videoinfo .stats ul{
	width: 100%;
	float: left;
}
.videoinfo .stats ul li{
	width: 50%;
	float: left;
	padding: 14px 0; 
	text-align: center;
	border-left: #d6d6d6 solid 1px;
}
.videoinfo .stats h5{
	margin: 0;
	padding: 0;
	font-weight: normal;
}
.videoinfo .stats h2{
	margin: 0;
	padding: 0;
}
.videoinfo .videoshare ul{
	width: 100%;
	float: left;
}
.videoinfo .videoshare ul li{
	width: 33.33%;
	height: 66px;
	float: left;
	position: relative;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.videoinfo .videoshare ul li i{
	font-size: 24px;
	margin: 10px 0 0 10px;
}
.videoinfo .videoshare ul li a.link{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
}
.videoinfo .videoshare ul li .shaingstats{
	position: absolute;
	right: 10px;
	bottom: 8px;
	text-align: right;
}
.videoinfo .videoshare ul li h5{
	color: #fff;
	margin: 0;
}
.videoinfo .videoshare ul li p{
	margin: 0;
	font-size: 10px;
	text-transform: uppercase;
}
.videoinfo .videoshare ul li.facebook{
	background: #3f67c0;
	color: #fff;
}
.videoinfo .videoshare ul li.facebook:hover{
	background: #fff;
	color: #3f67c0;
}
.videoinfo .videoshare ul li.facebook:hover h5{
	color: #3f67c0;
}
.videoinfo .videoshare ul li.twitter{
	background: #35b5eb;
	color: #fff;
}
.videoinfo .videoshare ul li.twitter:hover{
	background: #fff;
	color: #35b5eb;
}
.videoinfo .videoshare ul li.twitter:hover h5{
	color: #35b5eb;
}
.videoinfo .videoshare ul li.gplus{
	background: #eb5b4c;
	color: #fff;
}
.videoinfo .videoshare ul li.gplus:hover{
	background: #fff;
	color: #eb5b4c;
}
.videoinfo .videoshare ul li.gplus:hover h5{
	color: #eb5b4c;
}
.videoplayersec .likeit{
	text-align: center;
}
.videoplayersec .likeit hr{
	width: 100%;
	padding-top: 30px;
	margin-bottom: 0px;
	border-top: #d6d6d6 solid 1px;
}
@media (max-width: 768px) {
	.videoplayersec {
		margin: 0 7%;
    	width: 86%;
    	background: #fff;
	}
	.videoplayersec .vidcontainer {
		width: 100%;
	}
	.videoinfo .stats ul li:first-child{
		border-left: none;
	}
	.videoinfo .videoshare ul li i{
		margin: 20px 0 0 20px;
	}
	.videoinfo .videoshare ul li .shaingstats{
		bottom: 18px;
		right: 20px;
	}
}
/* Soundcloud iframe
================================================== */
.soundcloud iframe{
	width:100%;
}
/* Sections Transitions
================================================== */ 
.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s;
}
.already-visible {
  transform: translateY(0);
  animation: none;
}
@keyframes come-in {
  to { transform: translateY(0); }
}
/* Colors
================================================== */ 
.color, 
.colorhover:hover {
	color: #d10909 !important;
}
.backcolor, 
.backcolorhover:hover, 
.categorieslist ul li:hover, 
.categorieslist ul li.active, 
.ui-datepicker-header, 
.ui-datepicker-calendar .ui-state-active,
.ui-datepicker-calendar .ui-state-hover,
.nav-tabs > li.active > a,
.nav-tabs > li > a:hover,
.nav-tabs > li.active > a:focus,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
	background-color: #d10909 !important;
}
@media (max-width: 1023px){
	header.style2 .topcategories .navbar-toggle,
	header.style2 .topcategories .yamm .navbar-collapse {
		background-color: #d10909 !important;
	}
}
.bordercolor,
.bordercolorhover:hover{
	border-color: #d10909 !important;
}
.bordercolor-top {
	border-top: solid 5px #d10909 !important;
}

/*
 * Video Player and Controls.
 */
#video-container {
	position: relative;
}
#video-container:hover .controls {
	opacity: .8;
}
.controls {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	display: none;
	flex-flow: row nowrap;
	margin: 0;
	background: black;
	opacity: 0;
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	-o-transition: opacity .3s;
	-ms-transition: opacity .3s;
	transition: opacity .3s;
}
.controls li:nth-child(4) {
	margin-left: auto;
}
.controls button.btn.btn-default,
.controls button.btn.btn-default:hover,
.controls button.btn.btn-default:active {
	background: transparent;
	border: none;
	width: 35px;
}
.controls i {
	color: white;
	pointer-events: none;
}
.controls input[type=range] {
	background: transparent;
	-webkit-appearance: none;
	width: 50px;
	height: 100%;
}
.controls input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background: white;
	cursor: pointer;
	margin-top: -3px;
}
input[type=range]::-moz-range-thumb {
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background: white;
	cursor: pointer;
}
input[type=range]::-ms-thumb {
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background: white;
	cursor: pointer;
}
input[type=range]::-webkit-slider-runnable-track {
	height: 3px;
	cursor: pointer;
	background: white;
	border-radius: 1.5px;
}
input[type=range]::-moz-range-track {
	height: 3px;
	cursor: pointer;
	background: white;
	border-radius: 1.5px;
}
input[type=range]::-ms-track {
	height: 3px;
	cursor: pointer;
	background: transparent; 
	border-color: transparent;
	color: transparent;
}
input[type=range]::-ms-fill-lower {
	background: white;
}
input[type=range]::-ms-fill-upper {
	background: transparent;
}

/* Fullscreen */
html:-ms-fullscreen {
	width:100%;
}
:-webkit-full-screen {
	background-color:transparent;
}
/* hide controls on fullscreen with WebKit */
figure[data-fullscreen=true] video::-webkit-media-controls {
	display:none !important;
}
figure[data-fullscreen=true] {
	max-width: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
figure[data-fullscreen=true] video {
	height: auto;
}
figure[data-fullscreen=true] .controls {
	position: absolute;
	bottom: .5%;
	left: 30%;
	width: 40%;
	z-index: 2147483647;
}

.whoa-there {
	position: absolute;
	display: block;
	margin-left: -225px;
	margin-top: -90px;
	left: 50%;
	top: 50%;
	width: 450px;
	height: 180px;
	text-align: center;
	z-index: 2147483647;
}
.hide-inline {
	display: none;
}

/* Try to fix oversize margins on video stats/share */
.conentsection .uploader,
.conentsection .stats,
.conentsection .videoshare {
	margin-bottom: 0;
}
