{% extends "shows/admin.html" %}
{% load i18n static %}

{% block title %}{% if show %}{{ show.title }}{% else %}{% trans "New Show" %}{% endif %}{% endblock %}

{% block admin_title %}
<li><a href="{% url 'shows:broadcast' %}">Shows</a></li>
<li class="active">
    {% if show %}Manage - {{ show.title }}{% else %}{% trans "New Show" %}{% endif %}
</li>
{% endblock %}

{% block admin_content %}
<div class="sections">
    <h2 class="heading">
        {% if show %}{{ show.title }}{% else %}{% trans "New Show" %}{% endif %}
    </h2>
    <div class="clearfix"></div>
    <div class="row">
        {% include "partials/form_error.html" with form=form %}
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <form method="post" enctype="multipart/form-data" action="" novalidate>
                <div class="tabsect">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#basic" data-toggle="tab">Basic Info</a></li>
                        <li><a href="#content" data-toggle="tab">Content</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="basic">
                            {% include "partials/form_field.html" with fld=form.title css="form-control" %}
                            {% include "partials/form_field.html" with fld=form.description css="form-control" %}
                        </div>
                        <div class="tab-pane" id="content">
                            {% include "partials/form_field.html" with fld=form.content_license css="form-control" %}
                            {% include "partials/form_field.html" with fld=form.rating css="form-control" %}
                            {% include "partials/form_field.html" with fld=form.age_restricted css="" %}
                            {% include "partials/form_field.html" with fld=form.poster css="" %}
                            {% include "partials/form_field.html" with fld=form.video css="" %}
                            <!-- You can add your UI for the Drive/Dropbox integration here. -->
                        </div>
                    </div>
                </div>
                <div class="form-group pull-right">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary backcolor">
                        {% if show %}{% trans "Update" %}{% else %}{% trans "Save" %}{% endif %}
                    </button>
                    {% if show.get_mode_display == "Private" %}
                    <a href="{% url 'shows:invite' show_name=show.stream_name %}" class="btn btn-default" rel="colorbox">
                        {% trans "Send Invites" %}
                    </a>
                    {% endif %}
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="videobox2">
                {% if show %}{% include "shows/partials/video.html" with show=show %}{% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrabody %}
{% if show %}
<script src="https://cdn.jsdelivr.net/npm/clappr@latest/dist/clappr.min.js"></script>
<script src='{% static "js/video-player.js" %}'></script>
{% endif %}
{% endblock %}