{% extends "base_site.html" %}
{% load i18n %}

{% block title %}{% trans "Log in to Secure Media Live" %}{% endblock %}

{% block content %}
<div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
    <div class="sections">
        <h2 class="heading">{% trans "Log in to WStreams Live" %}</h2>
        <div class="clearfix"></div>
        <div class="row">
            <form method="post" action="" novalidate>
                <fieldset>
                    {% include "partials/form_error.html" with form=form %}
                    {% include "partials/form_fields.html" with form=form css="form-control input-lg" %}
                    <div class="form-group">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}{% url 'shows:index' %}{% endif %}">
                        <button type="submit" class="btn btn-primary backcolor">{% trans "Log in" %}</button>
                    </div>
                    <div>
                        <p>
                            {% trans "Forgotten your password?" %}
                            <a href="{% url 'accounts:reset_password' %}">{% trans "Reset it here" %}</a>
                            <br />
                            {% trans "New to Secure Media Live?" %}
                            <a href="{% url 'accounts:register' %}">{% trans "Sign up now" %}</a>
                        </p>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
{% endblock %}
