{% extends "base_site.html" %}
{% load i18n %}

{% block title %}{% trans "Reset Your Password" %}{% endblock %}

{% block bodytheme %}light{% endblock %}

{% block content %}
<section class="flat-dialog with-border with-padding">
    <h2>{% trans "Reset Your Password" %}</h2>
    <p>
        {% blocktrans %}
        We've emailed you instructions for setting your password, if an account exists with the email you entered. 
        You should receive them shortly.
        {% endblocktrans %}
    </p>
    <p>
        {% blocktrans %}
        If you don't receive an email, please make sure you've entered the address you registered with, 
        and check your spam folder.
        {% endblocktrans %}
    </p>
    <p>
        <a href="{% url 'accounts:login' %}">Return to Sign In page.</a>
    </p>
</section>
{% endblock %}