{% extends "base_site.html" %}
{% load i18n static %}

{% block title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}
<div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
    {% with steps=wizard.steps form=wizard.form %}
    <div class="sections">
        <h2 class="heading">
            {% blocktrans with current=steps.step1 total=steps.count trimmed %}
            Step {{ current }} of {{ total }}
            {% endblocktrans %}    
        </h2>
        <div class="clearfix"></div>
        <div class="row">
            <form method="post" action="" novalidate>
                <fieldset>
                    {% include "partials/form_error.html" with form=form %}
                    {% include "partials/form_fields.html" with form=form css="form-control input-lg" %}
                    <div class="form-group">
                        {{ wizard.management_form }}
                        {% csrf_token %}{% for fld in form.hidden_fields %}{{ fld }}{% endfor %}
                        <button type="submit" class="btn btn-primary backcolor">{% trans "Continue" %}</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    {% endwith %}
    <div class="clearfix"></div>
</div>
{% endblock %}

{% block extrabody %}
{{ wizard.form.media }}
<script src='{% static "js/jquery.cookie.min.js" %}'></script>
<script>
    $(function () {
        $('a[rel=resend]').on('click', function (e) {
            var csrftoken = $.cookie('csrftoken');
            e.preventDefault();
            $.ajax(this.href, {
                method: 'POST',
                beforeSend: function (xhr, settings) {
                    if (!this.crossDomain) {
                        xhr.setRequestHeader('X-CSRFToken', csrftoken);
                    }
                },
                success: function (data, status, xhr) {
                    var $msg = $('<div class="alert alert-success" role="alert"><strong>Success:</strong>' + data + '</div>');
                    setTimeout(function () { $msg.hide(0); }, 3500);
                    $('.contents > .custom-container > .row').prepend($msg);
                }
            });
        });
    });
</script>
{% endblock %}
